<header th:fragment="default" class="header" xmlns:th="http://www.thymeleaf.org">
    <div>
        <a th:href="@{/}">TechCar</a>
    </div>
    <nav>
        <a th:href="@{/app/dashboard}" th:if="${#authorization.expression('isAuthenticated()')}">Dashboard</a>
        <a th:href="@{/app/veiculos}" th:if="${#authorization.expression('hasAnyRole(''ADMIN'', ''USER'')')}">Veículos</a>
        <a th:href="@{/login}" th:if="${#authorization.expression('isAnonymous()')}">Login</a>

        <span th:if="${#authorization.expression('isAuthenticated()')}">
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit">Sair</button>
            </form>
        </span>
    </nav>
</header>